<!--フラッシュメッセージの記述-->
<div>
  <%= flash[:notice] %>
</div>

<!--usershowの記述-->

 <div class="container">
  <div class="row">
  <div class="col-lg-3">
    <h2>User Info</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
    <%= link_to edit_user_path(@user.id),class:"btn btn-lg btn-block btn-outline-secondary" do %>
  <i class="fa-solid fa-user-gear"></i>
  <% end %>
<!--booknewの記述-->
  <h2>New book</h2>
<!--バリデーションはbookindex参照-->
  <%= form_with model: @newbook , url: books_path , method: :post do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <input type="submit" name="commit" value="Create Book" class="btn btn-success">
  <% end %>
  </div>
<!--bookindexの記述-->
<div class="col-lg-8 offset-lg-1">
 <h2>Books</h2>
 <table class="table" >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>

     <% @books.each do |book| %>
      <tr>
      <th scope="row">
       <%= link_to user_path(book.user.id) do %>
        <%= image_tag book.user.get_profile_image(100,100) %>
       <% end %>
      </th>
      <td>
       <%= link_to book_path(book.id) do %>
         <%= book.title %>
       <% end %>
      </td>
      <td>
       <%= book.body %>
      </td>
    </tr>

   <% end %>
   </tbody>
  </table>
 </div>
 </div>
</div>


