<!--フラッシュメッセージの記述-->
<div>
  <%= flash[:notice] %>
</div>

<!--usershowの記述-->

 <div class="container">
  <div class="row">
  <div class="col-lg-3">
    <h2>User Info</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <td><%= @user.introduction %></td>
      </tr>
    </table>
  <p><%= link_to "編集アイコン",edit_user_path(@user.id)  %></p>
<!--booknewの記述-->
  <h2>New book</h2>
<!--バリデーションはbookindex参照-->
  <%= form_with model: @newbook , url: books_path , method: :post do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
  </div>
<div class="col-lg-1">
</div>
<!--bookindexの記述-->
<div class="col-lg-8">
 <h2>Books</h2>
 <table class="table" >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <% @books.each do |book| %>
      <th scope="row">
       <%= link_to user_path(book.user.id) do %>
        <%= image_tag book.user.get_profile_image(100,100) %>
       <% end %>
      </th>
      <td>
       <%= link_to book_path(book.id) do %>
         <%= book.title %>
       <% end %>
      </td>
      <td>
       <%= book.body %>
      </td>
    </tr>
  </tbody>
 </table>
 <% end %>
 </div>
 </div>
</div>


