<!--フラッシュメッセージの記述-->
<div>
  <%= flash[:notice] %>
</div>

<!--usershowの記述-->
<h1>User Info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name</h3>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
  <p><%= link_to "編集アイコン",edit_user_path(@user.id)  %></p>
</div>

<!--bookindexの記述-->
<h2>Books</h2>
<table class="table" >
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
  </tbody>
</table>
<% end %>


<!--booknewの記述-->
<h1>New book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book , url: books_path , method: :post do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>

