<h1>Editing Book</h1>

<!--バリデーションエラーメッセージ-->
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
  <ul>
    <p><% @book.errors.full_messages.each do |message| %></p>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--bookeditの記述-->
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title, autofocus: true, id: "title"%>
  <p>Opinion</p>
  <%= f.text_field :body, id: "body" %>
  <p><%= f.submit "Update Book" %></p>
  <% end %>

<span><%= link_to "Show",book_path(@book) %></span>
|
<span><%= link_to "Back",books_path %></span>