<!--フラッシュメッセージの記述-->
<div><%= flash[:notice] %></div>

<!--usershowの記述-->
 <div class="container">
  <div class="row">
  <div class="col-lg-3">
    <h2>User Info</h2>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table">
      <tr>
        <th scope="row">name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th scope="row">introduction</th>
        <th><%= @user.introduction %></th>
      </tr>
    </table>
    <%= link_to edit_user_path(@user.id),class:"btn btn-block btn-outline-secondary" do %>
     <i class="fa-solid fa-user-gear"></i>
    <% end %>

<!--booknewの記述-->
  <h2 class="mt-3">New book</h2>
<!--バリデーションはbookindex参照-->
  <%= form_with model: @newbook , url: books_path , method: :post do |f| %>
    <div class="form-group">
        <label for="book_title">Title</label>
        <%= f.text_field :book_title, class:"form-control" %>
    </div>
    <div class="form-group">
        <label for="book_opinion">Opinion</label>
        <%= f.text_area :book_body, class:"form-control" %>
    </div>
    <%= f.submit 'Create Book', class:"btn btn-success" %>
  <% end %>
  </div>

<!--bookshowの記述-->
    <div class="col-lg-8 offset-lg-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
              <%= image_tag @user.get_profile_image(100,100) %>
              <br>
              <%= @user.name %>
              <% end %>
            <td>
            <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td>
                <%= @book.body %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book),class:"btn btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book.id),class:"btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>