<h1>Books detail</h1>

<h1>User Info</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name</h3>
  <h3><%= @user.name %></h3>
  <p><%= link_to "編集アイコン",edit_user_pass(@user.id)  %></p>
</div>

<h1>New book</h1>
  <%= form_with model: @book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
<!--bookshowの記述-->
<div>
  <h1>Book detail</h1>
  <%= image_tag @book.get_image %>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.body %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <!--bookeditへのリンクの記述-->
  <p><%= link_to "Edit", edit_book_path(@book) %></p>
  <!--bookdestroyへの記述-->
  <% if @book.user == current_user %>
    <%= link_to "Destroy", books_path(@book), method: :delete %>
  <% end %>
</div>