<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/78bcbcecca.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-1">
            <a href ="/">Bookers</a>
          </div>
          <div class="col-lg-7"></div>
             <% if user_signed_in? %>
             <div class="col-lg-1">
               <i class="fa-solid fa-house-chimney">
                <%= link_to "Home", user_path(current_user.id) %>
              </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-users">
                 <%= link_to "Users", users_path %>
                </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-book-open">
                 <%= link_to "Books", books_path %>
                </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-right-from-bracket">
                 <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                </i>
              </div>
             <% else %>
              <div class="col-lg-1">
                <i class="fa-solid fa-house-chimney">
                 <%= link_to "Home", root_path %>
                </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-link">
                 <%= link_to "About", about_path %>
                </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-user-plus"></i>
                 <%= link_to "Sign up", new_user_registration_path %>
                </i>
              </div>
              <div class="col-lg-1">
                <i class="fa-solid fa-right-to-bracket">
                 <%= link_to "Log in", new_user_session_path %>
               </i>
              </div>
             <% end %>
          </div>
        </div>

    <%= yield %>

    <div class="row">
      <div class="mx-auto">
       <p>CopyRight Infratop.inc</p>
      </div>
    </div>



  </body>
</html>
